<div class="container">
  <!--  <div class="form-section">
    <form>
      <div class="row">
        <div class="six columns">
          <label class="upload-label"> mp3 </label>
          <label class="upload-wrapper">
            UPLOAD
            <input type="file" class="upload">
          </label>
        </div>
        <div class="six columns">
          <label class="upload-label"> Gif </label>
          <label class="upload-wrapper">
            UPLOAD
            <input type="file" class="upload">
          </label>
        </div>
      </div>
    </form>
  </div>
-->
<div class="row">
<div class="sound-board-title"> Animations </div>
</div>
<div class="sound-board">
<div class="row">
  <div class="four columns sound-tile" data-name="guns">
    <div class="sound-tile-title"> Guns </div>

  </div>
  <div class="four columns sound-tile" data-name="salt">
    <div class="sound-tile-title"> Salt </div>

  </div>
  <div class="four columns sound-tile" data-name="exorcism">
    <div class="sound-tile-title"> exorcism </div>

  </div>
</div>

</div>

<div class="row">
<div class="sound-board-title"> Sounds </div>
</div>

  <div class="sound-board">
    <div class="row">
      <div class="four columns sound-tile" data-name="bnd">
        <div class="sound-tile-title"> boy next door </div>

      </div>
      <div class="four columns sound-tile" data-name="dm">
        <div class="sound-tile-title"> dungeon master </div>

      </div>
      <div class="four columns sound-tile" data-name="fi3">
        <div class="sound-tile-title"> fisting is 300 </div>

      </div>
    </div>
    <div class="row">
      <div class="four columns sound-tile" data-name="fy">
        <div class="sound-tile-title"> fuck you </div>

      </div>
      <div class="four columns sound-tile" data-name="fc">
        <div class="sound-tile-title"> fucking cumming </div>

      </div>
      <div class="four columns sound-tile" data-name="fy2">
        <div class="sound-tile-title"> FUCKOUT </div>

      </div>
    </div>
    <div class="row">
      <div class="four columns sound-tile" data-name="ida">
        <div class="sound-tile-title"> I don't do anal </div>

      </div>
      <div class="four columns sound-tile" data-name="ifd">
        <div class="sound-tile-title"> it's so fucking deep </div>

      </div>
      <div class="four columns sound-tile" data-name="liu">
        <div class="sound-tile-title"> lube it up </div>

      </div>
    </div>
    <div class="row">
      <div class="four columns sound-tile" data-name="sfb">
        <div class="sound-tile-title"> shut the fuck up boy </div>

      </div>
      <div class="four columns sound-tile" data-name="sya">
        <div class="sound-tile-title"> slaves get your ass </div>

      </div>
      <div class="four columns sound-tile" data-name="tib">
        <div class="sound-tile-title"> take it boy </div>

      </div>
    </div>
  </div>

</div>
</div>
